
body {
    background-color: #dadada;
    background-size: cover;
    background-position: center center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px; /* Added padding for mobile spacing */
}

img {
    width: auto;
    max-width: 200px;
    border-radius: 10px;
    opacity: 0.9;
    display: block;
    margin: 20px auto;
}

h1 {
    color: #d8bd26;
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 3px black, -2px -2px 3px black, 2px -2px 3px black, -2px 2px 3px black;
}

h2 {
    color: #d8bd26;
    font-size: 2.5em;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 20px;
    text-align: left;
    text-shadow: 2px 2px 3px black, -2px -2px 3px black, 2px -2px 3px black, -2px 2px 3px black;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #4b4b4b;
    margin: 10px 0;
}

a {
    color: #1f1cc4;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #d1b203;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 20px;
}

li a {
    color: #1f1cc4;
    text-decoration: none;
}

button {
    background-color: #1f1cc4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #d1b203;
}

input, textarea {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
}


@media (max-width: 600px) {
    li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
}


